@font-face {
  font-family: Festo;
  src:
    url("https://www.festo.com/fonts/festo-regular.woff2") format("woff2"),
    url("https://www.festo.com/fonts/festo-regular.woff") format("woff");
}
@font-face {
  font-family: Festo;
  src:
    url("https://www.festo.com/fonts/festo-bold.woff2") format("woff2"),
    url("https://www.festo.com/fonts/festo-bold.woff") format("woff");
  font-weight: 700;
}

:root {
  --fwe-white: #fff;
  --fwe-text: #333;
  --fwe-text-light: #82868b;
  --fwe-caerul: #0091dc;
  --fwe-hero: #0091dc;
  --fwe-background: #f0f2f3;
  --fwe-gray-200: #e2e5e8;
  --fwe-gray-300: #d3d8dd;
  --fwe-red: #d50000;
  --fwe-border: #d3d8dd;
  --fwe-font-family-sans-serif: "Festo", "Trebuchet MS", Arial, sans-serif;
  font-family: var(--fwe-font-family-sans-serif);
  color: var(--fwe-text);
  background: var(--fwe-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
}
button,
a {
  font: inherit;
}
